:root {
	--cl-mail-bg-base: #135e96;
	--cl-airmail-blue: #0066CC;
	--cl-airmail-red: #FF0000;
}

.cl-test-mail-settings summary {
	cursor: pointer;
	color: var(--cl-mail-bg-base);
}

.cl-test-mail-settings summary:hover {
	text-decoration: underline;
}

.cl-test-mail-settings summary h2 {
	display: inline-block;
	color: var(--cl-mail-bg-base);
}

.cl-airmail-border {
	border: 15px solid transparent;
	background:
		linear-gradient(white, white) padding-box,
		repeating-linear-gradient(
			-45deg,
			var(--cl-airmail-red) 0,
			var(--cl-airmail-red) 12px,
			transparent 12px,
			transparent 24px,
			var(--cl-airmail-blue) 24px,
			var(--cl-airmail-blue) 36px,
			transparent 36px,
			transparent 48px
		) border-box;
	border-radius: 4px;
	margin-block: 20px;
	padding: 20px;
}
