Commits messages will be short and concise
Comments and code will be output in English, no matter if the questions are made in Spanish, code always be in Englis, not the explanations
Code will be for a WordPress plugin and always will follow WordPress Coding Standards.
